.center{
    min-width: 400px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    
}
.info li{
    margin: 10px;
}

#change-avatar{
    position: absolute;
    width: 100%;
    height: 50px;
    border-radius: 0 0 50px 50px ;
    background:  black;
    opacity: 0.4;
    bottom: 0;
    left: 0;
    display: none;
    
    z-index: 1;
}
.avatar-box:hover #change-avatar{
    display: block;
}
#change-avatar:hover{
    opacity: 0.6;
}
#change-avatar span{
    widows: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#file{
    display: none;
}
#change-avatar label{
    cursor: pointer;
}
.avatar-box{
    cursor: pointer;
}

.avatar{
    border: 1px solid #ccc;
    border-radius: 50%;
} 